@import "tailwindcss";
.loginButton{
    margin-left: 40%;
    border-radius: 5px;
    border: 2px solid rgb(182, 179, 179);
    color: rgb(48, 46, 46);
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    }

.loginButton:hover{
    color: white;
    background-color: greenyellow;
}

.modeButton:hover{
    color: white;
    background-color: greenyellow;
}

.modeButton{

    border-radius: 5px;
    border: 2px solid rgb(182, 179, 179);
    color: rgb(48, 46, 46);
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    }

    /* Default Light Theme */
.light {
  background-color: white;
  color: black;
  align-items: center;
  justify-content: center;
}

/* Dark Theme */
.dark {
  background-color: #121212;
  color: white;
  align-items: center;
  justify-content: center;
}

button {
  margin-top: 0px;
  padding: 10px 20px;
  cursor: pointer;
}
.form-todo{
  margin: 20px 20px 20px 20px;
}